<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ixir">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:overrideLibrary="androidx.core">
        <activity android:name=".thakyouActivity"></activity>
        <activity android:name=".purshaseActivity" />
        <activity android:name=".ChoiceActivity" />
        <activity android:name=".physical" />
        <activity android:name=".enviromental" />
        <activity android:name=".BleAccActivity" />
        <activity android:name=".StepsActivity" />
        <activity android:name=".AcclerometerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".heartDataActivity" />
        <activity android:name=".firstActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".DeviceServicesActivity" />

        <service
            android:name=".BleService"
            android:enabled="true" />
    </application>

</manifest>